.btnBox {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 0 90px;
  font-size: 0;
  button {
    text-decoration: none;
    min-height: 50px;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: auto;
    letter-spacing: -0.6px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .ranBtn {
    border: 1px solid #ccc;
    color: #1c1c1c;
    background-color: #fff;
    &:hover {
      border: 1px solid #1c1c1c;
    }
    svg {
      transform: rotate(60deg);
      margin-left: 10px;
    }
  }
  .cheBtn {
    color: #fff;
    background-color: #1c1c1c;
    margin-left: 10px;
    svg {
      transform: rotate(90deg);
      margin-left: 10px;
    }
  }
}

// list
.listContainer {
  padding-top: 132px;
  line-height: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .listBox {
    display: flex;
    align-items: center;

    em {
      font-style: normal;
      font-size: 34px;
      color: #111;
      letter-spacing: -1.7px;
      line-height: 75px;
    }
    select {
      border: none;
      border-bottom: 2px solid #000;
      font-family: "TourEasy";
      text-align: center;
      font-size: 34px;
      font-weight: 300;
      line-height: 20px;
      color: rgb(17, 17, 17);
      option {
        font-size: 16px;
        border: none;
        padding: 0;
        min-height: auto;
        height: 32px;
      }
    }
  }
}

//item
